[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
pydantic = "*"



[dev-packages]
ipython = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.11"

